@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}


/* ========================================
	フロートの解除
========================================= */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}



/* ========================================
	全体設計
========================================= */
html {
    font-size: 100%;
}

body {
	color:#555;
	font-size: 14px;
	line-height: 1;
	font-family: 'Zen Antique', serif;
	background-color: #dddddd;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}


/* ========================================
    ラッパー
========================================= */
div#wrapper {
    width: 960px;
    height: auto;
    margin: 0 auto;
}



/* ========================================
    ヘッダー
========================================= */
header {
    width: 960px;
    height: 120px;
}
header h1 {
    width: 213px;
    height: 39px;
    margin-top: 30px;
    float: left;
}

nav {
    float: right;
    margin-top: 56px;
}

nav ul li {
    float: left;
    margin-left: 20px;
}

nav ul li a {
    color: #555555;
    text-decoration: none;
    font-size: 20px;
}


/* ========================================
    メイン画像
========================================= */
article#mainimage {
    position: relative;
	margin-bottom: 30px;

}

article#mainimage p {
    font-size: 50px;
    display: inline-block;
    background: linear-gradient(90deg, #525266 , #7a7b99 30%, #474766);
    background: -webkit-linear-gradient(0deg, #525266 , #7a7b99 30%, #474766);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 500px;
    position: absolute;
    top: 150px;
    margin-left: 500px;
}
article p#qs {
    font-size: 25px;
    display: inline-block;
    background-color: #525266;  
    position: absolute;
    top: 580px;
    margin-left: 50px;
}
article p#qqs {
    font-size: 20px;
    display: inline-block;
    background-color: #525266;  
    position: absolute;
    top: 950px;
    margin-left: 550px;
}
article p#qqqs {
    font-size: 30px;
    display: inline-block;
    background-color: #525266; 
    width:960px;
    position: absolute;
    top: 1700px;
    margin-left: 50px;
}


div#aph1 {
    position: absolute;
    top: 0;
}

div#aph2 {
    position: absolute;
    top: 350px;
    margin-left:350px;
}

div#aph3 {
    position: absolute;
    top:1000px;
}

div#aph4 {
    position: absolute;
    top: 1100px;
    margin-left: 500px;
}

/* ========================================
    レフト
========================================= */
/* 相対指定 */
.container {
    position: absolute;
    top: 2100px;
    left: auto;
  }


div#left {
    width: 280px;
    height: auto;
	float: left;
    margin-top: 36px;
	}

div#left ul li {
    width: 280px;
    height: 48px;
    background-image:linear-gradient(rgba(122,123,153,.6),rgba(221,221,221,.5)) ;
    min-height: auto;
    margin-bottom: 10px;
}

div#left ul li a {
    font-size: 20px;
    color: #555555;
    text-decoration: none;
    line-height: 50px;
    padding-left: 70px;
    display: block;
}

a#icon_health {
    background: url(images/ana-icon3.png) no-repeat 20px center;
    filter: drop-shadow(2px 2px #dddddd);
}

a#icon_photograph {
    background: url(images/af-icon2.png) no-repeat 20px center;
    filter: drop-shadow(2px 2px #dddddd);
}
a#icon_voice {
    background: url(images/asiato-icon1.png) no-repeat 20px center;
    filter: drop-shadow(2px 2px #dddddd);
}

/* ========================================
    ライト
========================================= */
div#right {
    width: 650px;
    height:auto;
	float: left;
    margin-left: 310px;
}

div#right h2 {
    font-size: 20px;
    color: #555555;
    filter: drop-shadow(2px 2px #dddddd);
    margin-bottom: 15px;
    padding-left: 30px;
}

div#right dt {
    font-size: 20px;
    color: #999;
    float: left;
    width: 120px;
    line-height: 40px;
    padding-left: 20px;
}

div#right dd {
    font-size: 18px;
    color: #555555;
    float: left;
    width: 510px;
    line-height: 40px;
}

div.clearfix {
    clear: both;
}

/* ========================================
    フッター
========================================= */
footer.foot {
    position: relative;
    top: 2350px;
    width:210%;
    height: auto;
    background-image:linear-gradient(rgba(221,221,221,.5),rgba(122,123,153,.6)) ;
    margin-left: -60vh;
    margin-top: 30px;
}

div#footer_in {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 10px 0;
}
/* フッター2ぺージ目以降 */
footer#ff {
    width: 100%;
    height: auto;
    background-image:linear-gradient(rgba(221,221,221,.5),rgba(122,123,153,.6)) ;
    margin-top: 30px;
}

div#footer_inner {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 10px 0;
}

p#pagetop a {
    width: 78px;
    height: 20px;
    background-color:rgba(221, 221, 221, .5);
    text-align: center;
    color: #7a7b99;
    display: block;
    text-decoration: none;
    line-height: 20px;
    position: absolute;
    top: -20px;
    right: 0;
}
p#footer_logo {
    float: left;
    filter: drop-shadow(2px 2px #dddddd);
}

footer ul {
    float: right;
    margin-top: 24px;
}

footer ul li {
    float: left;
    margin-left: 30px;
}

footer ul li a {
    color:#7a7b99;
    font-size: 20px;
    text-decoration: none;
}

#cr{
	float: left;
	font-size: 18px;
	background: linear-gradient(#525266, #7a7b99, #dddddd);
    background: -webkit-linear-gradient(#525266, #7a7b99, #dddddd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
/* puroductここから */


div#qss {
    color: #525266;
    font-size: 20px;
    margin: 50px 0 50px 35vh;
}

.grid {
display: grid;
gap: 26px;
grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
margin-bottom: 50px;
}


/* jqueryここから */
.start {
background: #fff;
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 9000;
}
.start p {
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
display: none;
z-index: 9999;
width: 280px;
}
/* スライダー */
.slider {
    /* 画面サイズ横を600px以下にしない */
    min-width: 600px;
    /* 画面サイズ縦を500px以上にしない */
    max-height: 100vh;
    }

    /* swiper_img要素の幅を親要素に対して100%に設定します。 */
    .slider img {
        width: 50%;
        height: 32vw;
        margin: 0 auto;
    }

 /* アクセスここから */

section#mainimage {
    position: relative;
	margin-bottom: 30px;


}

section#mainimage p {
    font-size: 55px;
    display: inline-block;
    background: linear-gradient(90deg, #525266 , #7a7b99 30%, #474766);
    background: -webkit-linear-gradient(0deg, #525266 , #7a7b99 30%, #474766);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 3px #dddddd);
    width: 550px;
    position: absolute;
    top: 480px;
    margin-left: 380px;
}

/* 店舗情報・地図 */
#location {
    padding: 4% 0;
  }
  #location .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .location-info {
    font-size: 22px;
    color: #474766;
    width: 30%;
  }
  .location-info p {
    font-size: 20px;
    color: #7a7b99;
    padding: 12px 10px;
  }
  .location-map {
    width: 74%;
  }
  /* iframe */
  iframe {
    width: 100%;
  }

  /* CONTACT
------------------------------- */


section#main {
    margin-left: 30px;
    position: relative;
}

section#main p {
    font-size: 55px;
    display: inline-block;
    background: linear-gradient(90deg, #525266 , #7a7b99 30%, #474766);
    background: -webkit-linear-gradient(0deg, #525266 , #7a7b99 30%, #474766);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 500px;
    position: absolute;
    top: 30px;
    margin-left: 550px;
    margin-bottom: 14px;
}


  /* フォーム */
  form div {
    width: 500px;
  }
  label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    background: rgba(122, 123, 153, 0.4);
    border-radius: 5px;
    padding: 12px;
    font-size: 1rem;
    margin-left: 450px;
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
    max-width: 240px;
  }
  textarea {
    width: 90%;
    max-width: 430px;
    height: 8rem;
  }
  input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
    font-size: 30px;
    color: #474766;
    border: 10px #ddd solid;
    border-radius: 2px;
    font-family: 'Zen Antique', serif;
  }
  #namel {
    position: absolute;
    top: 150px;
    margin-left: 450px;
  }
  #name {
    position: absolute;
    top: 175px;
  }
  #emaill {
    position: absolute;
    top: 240px;
    margin-left: 450px;
  }
  #email {
    position: absolute;
    top: 260px;
  }
  #messagel {
    position: absolute;
    top: 325px;
    margin-left: 450px;
  }
  #message {
    position: absolute;
    top: 360px;
  }
 .button {
    position: absolute;
    top: 620px;
    margin-left: 650px;
 }